body {color: #00cfc1; background-color: #001b2e; font-family:sans-serif;}

nav {width: 100%; display: flexbox;}
nav li {list-style-type: none; display:inline-block; width: 15%; box-sizing: border-box; max-height: 100%;}
nav img {max-height: 100%; max-width: 100%;}

a {color: #00cfc1; text-decoration: none;}
a:hover {color: #fff8f0; font-weight: bolder;}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #001b2e;
    color: white;
    text-align: center;
    border: 5px solid #e84855;
  }

/* rgb(#fff8f0)
rgb(#e84855)
rgb(#00cfc1)
rgb(#001b2e) */

