body {color: #001b2e; background-color: #fff8f0; font-family:sans-serif;}

header img {max-height: 100px; max-width: 100%;}

footer {
    position: fixed;
    left: 0; right: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    background-color: #fff8f0;
    color: #00cfc1;
    text-align: center;
    border: 5px solid #e84855;
    font-weight: bold;
  }
footer li {list-style-type: none; display:inline-block; width: 15%; box-sizing: border-box; max-height: 100%;}

a {color: #00cfc1; text-decoration: none;}
a:hover {color: #001b2e; font-weight: bolder;}

h1 {color: #e84855;}

p {color: #001b2e;}


/* rgb(#fff8f0)
rgb(#e84855)
rgb(#00cfc1)
rgb(#001b2e) */

