* {
    margin: 0;
    padding: 0;
    color: #001B2E;
}

body {color: #001b2e; background-color: #fff8f0; font-family:sans-serif;}

header img {max-height: 100px; max-width: 100%;}

footer {
    position: fixed;
    left: 0; right: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    background-color: #fff8f0;
    color: #00cfc1;
    text-align: center;
    border: 5px solid #e84855;
    font-weight: bold;
  }
footer li {list-style-type: none; display:inline-block; width: 15%; box-sizing: border-box; max-height: 100%;}

a {color: #00cfc1; text-decoration: none;}
/* a:hover {color: #001b2e; font-weight: bolder;} */

h1 {color: #e84855;}

p {color: #001b2e;}


.header {
    background-color: #001B2E;;
    height: 80px;
}


.toggler {
    color: #FFF8F0;
    font-size: 60px;
    margin-left: 20px;
    background-color: #001B2E;
}

.sidebar {
    position: fixed;
    height: 100%;
    background-color: #001B2E;
    padding-top: 60px;
    top: 0;
    left: 0;
    z-index: 1; /* keeping it at the top*/
    transition: 0.5s;
    width: 0px;
    overflow-x: hidden;
    opacity: 0.9;
}

.sidebar ul a {
    transition: 0.2s;
    display: block;
    font-size: 25px;
    padding: 15px 50px;
    width: 200px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFF8F0;
}

.sidebar .close {
    color: white;
    font-size: 35px;
    position: absolute;
    right: 30px;
    top: 20px;

}

.sidebar a:hover {
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    cursor: pointer;
}

.open_sidebar {
    width: 100px;
    position: absolute;
    margin-top: -85px;
}

.logo {
    margin: auto;
    display: block;
    right: 50%;
    left: 50%;
    width: 65px;
}

#logo_img {
    height: 80px;
}

@media screen and (max-width: 500px) {
    .sidebar ul a {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 15px 50px;
    }
}



/* rgb(#fff8f0)
rgb(#e84855)
rgb(#00cfc1)
rgb(#001b2e) */

