@font-face {
    font-family: standard;
    src: url("fonts/Tilt_Neon/static/TiltNeon-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	color: #001B2E;
	font-family: standard;
}

body {
	min-height: 100%;
	height: 100vh;
}

h1 {
	display: block;
	text-align: center;
	border: 15px;
	border-radius: 30px;
	margin: 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2.5em;
	font-weight: bold;
	color: #FFF8F0;
	background-color:#e84855;
	width: 40%;
	min-width: 300px;
	float: center;
	max-height: 1em;
}
.subh1 {
	display: block;
	text-align: center;
	stroke: #e84855 3px;
	margin: auto auto 1.5em auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	font-weight: bold;
	width: 80%;
	float: center;}
h2 {color: #00cfc1;}
p {color: #001b2e;}

a:visited, a:link {color:#e84855; text-decoration: none;}
a:hover {font-weight: bolder;}

#active {
	background-color: #E84855;
}

td {padding: 0.5em; border: 1px solid;}

body {text-align: center;}
div.login {display:flex; flex-direction:column; align-items: center}
p {text-align:center}
form.ls {padding: 1em; 	border-radius: 30px; border: 2px double #E84855; position:center; margin:auto; display:flex; flex-direction:column; align-items: center; font-size:24px; width:70%; max-width: 400px;}
form.ls label {font-weight: bold; margin-bottom: 0.5em;}
/* form.ls input {margin:1em;} */
form.ls input[type='text'],input[type='password'] {border-top: none; border-left: none; border-right: none; background-color: #E8485500; height: 1.5em; width: 70%; margin-bottom: 2em}
form.ls input[type='submit'] {padding:0.5em; margin:auto; font-size: large; border: 2px solid; cursor: pointer; border-radius: 10px;}
#help {font-size: 24px; margin-top: 1em;}
#error {font-size: 24px; color: red; font-weight: bold; margin-bottom: 0.5em;}

header {
	/* background-color: #001B2E; */
	height: 80px;
	border-bottom: 2px solid #001B2E;
	display: flex;
	justify-content: space-between;
	/* background-color: #001B2E; */

}	

/* #search_button {
	float: left;
	display: inline-block;
	float: right;
} */

#user {
	/* background-color: #001B2E; */
	display: inline-block;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	color: white;
}

#search_btn {
	display: inline-block;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}



.cnt {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
}


.cnt a, #log{
	color: black;
	padding: 20px 20px;
	text-decoration: none;
	display: block;

}

#log {
	margin: 0 auto;
	padding: 15px 20px;
}

.cnt a:hover {background-color: #ddd;}
.cnt #log:hover {background-color: #ddd;}

#dropdown {
	position: relative;
	display: inline-block;
	float: left;
	width: 300px;
}

.show {
	display:block;
}

/* rgb(#fff8f0)
rgb(#e84855)
rgb(#00cfc1)
rgb(#001b2e) */

