/* GENERAL */
@font-face {
    font-family: standard;
    src: url("fonts/Tilt_Neon/static/TiltNeon-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	color: #001B2E;
	font-family: standard;
}

body {
	min-height: 100%;
	height: 100vh;
	background-color: #FFF8F0;
}

h2 {color: #00cfc1;}
p {color: #001b2e;}

/* LOGIN/SIGNUP */
div.ls {display:flex; flex-direction:column; align-items: center}
form.ls {padding: 1em; 	border-radius: 30px; border: 2px double #E84855; position:center; margin:auto; display:flex; flex-direction:column; align-items: center; font-size:24px; width:70%; max-width: 400px;}
form.ls label {font-weight: bold; margin-bottom: 0.5em;}
/* form.ls input {margin:1em;} */
form.ls input[type='text'],input[type='password'] {border-top: none; border-left: none; border-right: none; background-color: #E8485500; height: 1.5em; width: 70%; margin-bottom: 2em}
form.ls input[type='submit'] {padding:0.5em; margin:auto; font-size: large; border: 2px solid; cursor: pointer; border-radius: 10px;}
#help {font-size: 24px; margin-top: 1em;}
#error {font-size: 24px; color: red; font-weight: bold; margin-bottom: 0.5em;}

/* DISPLAYMOVIES */
#cast_button {
	padding: 10px;
	font-size: 1em;
	background-color: #001B2E;
	border: 0px;
	color: #FFF8F0;

	margin:0 auto;
	display:block;
	font-size: 30px;
	margin-bottom: 30px;
}

#show_data ul {
	display: none;
	grid-template-columns: repeat(4, 1fr);
}

#show_data div, #show_data p, #show_data li, #show_data h2, #show_data strong, #show_data ul {
	background-color: #001B2E;
}

#show_data > div {
	border-radius: 20px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	overflow: hidden;
}
#show_data p, #show_data li, #show_data h2 {
	color: #FFF8F0;
}

#poster {
	width: 250px;
	margin-top: 30px;
	margin-left: 30px;
	display: block;
}

#title {
	color: #E84855;
	margin-top: 50px;
}

#show_data strong {
	color: #00CFC1;
}

#image_column {
	height: 450px;
	width: 40%;
	display: inline-block;
}

#info_column {
	height: 450px;
	margin-left: 2%;
	width: 50%;
	display: inline-block;
	vertical-align:top;
}

#add_buttons button:first-child{
	display: block;
	margin-bottom: 30px;
	border-radius: 30px;
	border: 0px;
	background-color: #E84855;
	font-size: 25px;
	color: #FFF8F0;
	padding: 15px;
	margin:0 auto;
	display:block;
	margin-bottom: 30px;
	width: 300px;

}

#add_buttons button:nth-child(2) {
	display: block;
	margin-bottom: 30px;
	border-radius: 30px;
	border: 0px;
	background-color: #00CFC1;
	font-size: 25px;
	color: #FFF8F0;
	padding: 15px;
	margin:0 auto;
	margin-bottom: 30px;
	width: 300px;
}

#add_buttons button:nth-child(3) {
	display: none;
	margin-bottom: 30px;
	border-radius: 30px;
	border: 0px;
	background-color: #AFE1AF;
	font-size: 25px;
	color: #FFF8F0;
	padding: 15px;
	margin:0 auto;
	margin-bottom: 30px;
	width: 300px;
}

/* OTHER */
td {padding: 0.5em; border: 1px solid;}

/* rgb(#fff8f0)
rgb(#e84855)
rgb(#00cfc1)
rgb(#001b2e) */

